
<h3>Employment History</h3>

<ul class="collapsible" data-collapsible="accordion">
  <li>
    <div class="collapsible-header">
      <i class="large material-icons">work</i>
     Texas Tech University Health Sciences Center, El Paso, TX
      </div>

    <div class="collapsible-body">
    
        <ul class="collection">
    <li class="collection-item">
     
      <span class="title">Lead Analyst</span>
      
      <p>9/01/2014-7/1/2017</p>
      <div class="secondary-content"></div>
    </li>   
  </ul>
    </div>
  </li>

</ul>
