
<h3>Employment History</h3>



<ul class="collapsible" data-collapsible="accordion">
  <li *ngFor="let item of list">
    <div class="collapsible-header">
      <i class="large material-icons">work</i>
     {{item.name}}
      </div>

    <div class="collapsible-body">
    
        <ul class="collection">
    <li class="collection-item">
     
      <span class="title">{{item.rank}}</span>
      
      <p>{{item.startdate}} - {{item.enddate}}</p>
      <div class="secondary-content"></div>
    </li>   
  </ul>
    </div>
  </li>

</ul>


