
   <div class="card-panel">
      <span class="blue-text text-darken-2"></span>
    </div>




    <div class="row">

      <div class="col m3 center">
        <img class="circle" src="../../assets/images/me.jpg">
           <p>Andre De La Cruz</p>
           <p>andre.dlcruz@gmail.com</p>
           <p>Dallas, TX</p>

             <div class="card light-blue darken-1">
          <span class="white-text center">   <h4>Resume</h4>     </span>       
      </div>
      </div>

      <div class="col m9">

          <div class="card-panel amber darken-4">
          <span class="white-text">I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
          </span>
        </div>
<ul class="collapsible" data-collapsible="accordion">
  <li>
    <div class="collapsible-header">
      <i class="large material-icons">school</i>
      Education
      </div>
    <div class="collapsible-body">
    
        <ul class="collection">
    <li class="collection-item avatar">
     
      <span class="title">University of Texas at El Paso, El Paso Texas</span>
      <p>Bachelors in Computer Science<br>
        2013
      </p>
      <div class="secondary-content"></div>
    </li>   
  </ul>
    </div>
  </li>

</ul>

<h3>Employment History</h3>

<ul class="collapsible" data-collapsible="accordion">
  <li>
    <div class="collapsible-header">
      <i class="large material-icons">work</i>
     Texas Tech University Health Sciences Center, El Paso, TX
      </div>

    <div class="collapsible-body">
    
        <ul class="collection">
    <li class="collection-item">
     
      <span class="title">Lead Analyst</span>
      
      <p>9/01/2014-7/1/2017</p>
      <div class="secondary-content"></div>
    </li>   
  </ul>
    </div>
  </li>

</ul>

      </div>

      

    </div>


