img.circle {
  max-width:50%;
  max-height:50%;
}

ul.a {
  list-style: circle; 
  padding-left: 25px;
  line-height: 200%;
}

span.title {
  font-weight: bold;
}

.utep {
   background: url(../../assets/images/utep.jpg) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  
  }




