

 <div class="row">
    
    <div class="col s12 m4 l2"><p></p></div>
    <div class="col s12 m4 l8"><p>
     {{Description}}  </p>
     
    </div>
    <div class="col s12 m4 l2"><p></p></div>
  </div>


     <div class="row">
      <div class="col s12 m5">
        <div class="card-panel grey darken-1">
          <span class="white-text">I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
          </span>
        </div>
      </div>
      <div class="col s12 m7">{{Description}}</div>
    </div>


<!-- 
<mat-grid-list cols="4" rowHeight="100px">

  <mat-grid-tile [colspan]="1" [rowspan]="2" >
     <p>This website was designed using Angular4
        and Material. I used Angular Cli as a starter. 
        I"m using Firebase database as the backend data storage. 
    </p>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="2" [rowspan]="1">

    2
  </mat-grid-tile >

   <mat-grid-tile  [colspan]="1" [rowspan]="2">

3
    
  </mat-grid-tile>
    <mat-grid-tile  [colspan]="2" [rowspan]="1">
        
    4
  </mat-grid-tile>
</mat-grid-list> -->